- name: restart grafana-server
  systemd:
    name: grafana-server
    state: restarted
    daemon_reload: yes
    enabled: yes

- name: restart nginx
  systemd:
    name: nginx
    state: restarted
    daemon_reload: yes
    enabled: yes
