# This file is managed by Ansible. Manual changes will be overwritten.
groups:
- name: test
  rules:
{% for alert in alerts %}
  - alert: {{ alert.name }}
    expr: {{ alert.expression }}
    {% if 'duration' in alert -%}
    for: {{ alert.duration }}
    {% endif -%}
    {% if 'labels' in alert -%}
    labels:
    {% for label in alert.labels -%}
        {{ label.items()|first|first|indent(2, True) }}: {{ label.items()|first|last }}
    {% endfor -%}
    {% endif -%}
    {% if 'annotations' in alert -%}
    annotations:
    {% for annotation in alert.annotations -%}
        {{ annotation.items()|first|first|indent(2, True) }}: "{{ annotation.items()|first|last }}"
    {% endfor %}
    {% endif %}

{% endfor %}
