[Unit]
Description="Prometheus server"
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
RemainAfterExit=no
WorkingDirectory={{ prometheus.install_directory }}
ExecStart={{ prometheus.install_directory }}/prometheus --config.file={{ prometheus.config_file }} --log.level {{ prometheus.log_level }} --storage.tsdb.retention.time {{ storage.retention }} --storage.tsdb.path {{ storage.path }}
ExecReload=/bin/kill --signal HUP

KillMode=process
KillSignal=SIGTERM

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
