user: prometheus
group: prometheus
homedir: /opt/prometheus

prometheus:
  service: prometheus
  source: https://github.com/prometheus/prometheus/releases/download/v2.34.0/prometheus-2.34.0.linux-amd64.tar.gz
  install_directory: /opt/prometheus/bin
  rules_directory: /opt/prometheus/rules
  log_level: info
  config_file: /opt/prometheus/prometheus.yaml

storage:
  retention: 17520h
  path: /var/lib/prometheus/data
  # DEPRECATED #
  shrink_ratio: 0.3
  heap_size: 37000000000
  checkpoint_dirty_series_limit: 1000000
  checkpoint_interval: 15m

alertmanager:
  service: alertmanager
  source: https://github.com/prometheus/alertmanager/releases/download/v0.24.0/alertmanager-0.24.0.linux-amd64.tar.gz
  install_directory: /opt/prometheus/bin
  textfile_directory: /opt/prometheus/textfiles
  log_directory: /opt/prometheus/log
  home_directory: /opt/prometheus/alertmanager
  template_directory: /opt/prometheus/alertmanager/templates
  config_file: /opt/prometheus/alertmanager/alertmanager.yaml
  data_directory: /opt/prometheus/alertmanager
  log_level: info

groups:
  - name: test

alerts:
  - name: InstanceDown
    expression: up == 0
    duration: 2m
    labels:
      - severity: page
      - team: devops
    annotations:
      - summary: "Instance {{ '{{' }} $labels.instance {{ '}}' }} down"

  - name: DiskFullIn4Hours
    expression: predict_linear(node_filesystem_free{job='node', device!='sunrpc'}[1h], 4*3600) < 0
    duration: 5m
    labels:
      - severity: page
      - team: devops
